* {
  box-sizing: border-box;
  color: #ccc;
}

body {
  margin: 0;
}

main,
footer {
  font-family: sans-serif;
}

header {
  height: 100vh;
  background: #333;
  background-image: url('../img/Whiterun.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  font-weight: 100;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nothing You Could Do', sans-serif;
  text-shadow: 4px 4px 6px #000;
}

nav,
.preview {
  font-family: 'Nothing You Could Do', sans-serif;
}

/* Nav Bar */

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}
nav li {
  padding: 0 20px;
  display: inline;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.17rem;
  text-shadow: 4px 4px 6px #000;
}

nav li a:hover {
  color: orange;
}

/* Header */

header h1 {
  position: absolute;
  top: 15%;
  left: 15%;
  margin: 0;
  font-size: 4rem;
  letter-spacing: 3px;
}

header h2 {
  position: absolute;
  bottom: 25%;
  right: 10%;
  margin: 0;
}

header span {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

/* Main Content */
/*---------------------------------*/
/* Features Section */
main {
  color: #000;
}

.features {
  background: #222;
  color: #ccc;
}

.header-container {
  position: relative;
  margin: auto;
  max-width: 1200px;
  height: 100%;
  overflow: auto;
}

.container {
  margin: auto;
  max-width: 1200px;
  overflow: auto;
}

.container h3 {
  text-align: center;
  margin: 5% 0;
}

.feature1,
.feature2,
.feature3 {
  width: 25%;
  float: left;
  vertical-align: top;
  margin-bottom: 5%;
  text-align: center;
}

.feature1 {
  margin-right: 2.5%;
  margin-left: 7.5%
}

.feature2 {
  margin-right: 2.5%;
  margin-left: 2.5%
}

.feature3 {
  margin-right: 7.5%;
  margin-left: 2.5%
}

.feature-img {
  display: block;
  margin: auto;
  width: 75%;
  border: 2px solid #000;
}

/* Preview Section */

.preview {
  height: 300px;
  background: #222;
  background-image: url('../img/Whiterun_Lantern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.preview-container {
  position: relative;
  margin: auto;
  max-width: 1200px;
  height: 100%;
}

.preview h2 {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 7.5%;
  transform: translateY(-50%);
}

main section:nth-of-type(4) h2 {
  left: 7.5%;
}

main section:nth-of-type(4) {
  background-image: url('../img/Whiterun2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Details Section */

.details {
  background: #000;

}

.details h3 {
  text-align: center;
  margin: 5% 0;
  color: #ccc;
}

.details-container {
  position: relative;
  margin: auto;
  max-width: 1200px;
  height: 100%;
  overflow: auto;
}

.details table,
.details table td {
  border: 1px solid black;
  color: #ccc;
  font-size: 0.8rem;
}

.details th {
  border-bottom: 1px solid #555;
}

.details th:first-child {
  text-align: left;
}

.details th:not(first-child) {
  padding: 0 10px;
}
.details table {
  display: inline-block;
  border-collapse: collapse;
  margin: 0 7.5% 5% 7.5%;
  float: left;
}

.details table td {
  padding: 2%;
}

.details table td:first-child {
  text-align: left;
}

.details table td:not(first-child) {
  text-align: center;
}

.purchase {
  float: right;
  margin-right: 7.5%;
  margin-bottom: 5%;
  width: 33%;
  max-height: 207px;
  color: #ccc;
}

.purchase h4,
.purchase span {
  margin-top: 0;
}

.purchase h4 {
  text-align: center;
}

.purchase a {
  display: inline-block;
  width: 50%;
  background: #222;;
  padding: 10px;
  text-align: center;
  margin: 10px 5px;
  text-decoration: none;
}

.purchase a:hover,
.contact button:hover {
  background: #444;
  box-shadow: 0px 5px 0px #777;
}

.purchase span {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  font-size: 0.8rem;
}

/* Gallery Section */

.gallery {
  background: #222;
}

.gallery-container {
  margin: auto;
  max-width: 1200px;
  height: 100%;
}

.gallery h3 {
  text-align: center;
  margin: 0 0 2.5% 0;
  padding-top: 5%;
}

.gallery .photos {
  margin: 0 15% 2.5% 15%;
  overflow: auto;
}

.gallery .photos img {
  float: left;
  width: 20%;
  margin: 2.5%2.5%;
}

/* Footer */

footer {
  background: #000;
}

.footer-container {
  margin: auto;
  max-width: 1200px;
  height: 100%;
  overflow: auto;
}

.contact h4 {
  text-align: center;
  margin-top: 0;
}

footer .contact {
  margin: 7.5% 0 7.5% 7.5%;
  color: white;
  width: 42.5%;
  float: left;
}

.contact form {
  overflow: auto;
}
.contact input {
  float: left;
  margin: 0 5% 5% 5%;
  width: 40%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 3px solid teal;
}

.contact textarea {
  margin: 0 5% 5% 5%;
  width: 90%;
  background: none;
  border: none;
  border: 3px solid teal;
}

.contact button {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border: none;
  background: #555;
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-info {
  float: left;
  width: 42.5%;
  color: white;
  margin: 7.5% 7.5% 7.5% 0;
  text-align: right;
  padding-left: 2.5%;
}

.footer-info h4 {
  margin: 0;
}

.footer-info p {
  font-size: 0.8rem;
}

.footer-info a {
  display: inline-block;
  margin: 14px 0;
  padding-left: 30px;
  color: white;
  text-decoration: none;
}

.social {
  margin-top: 16px;
}

.social span {
  margin-left: 20px;
  font-size: 1.5rem;
}














/* */
