/* Footer */

footer {
  background: $black;
}

.footer-container {
  @include container($height: 100%, $overflow: auto);
}

.contact {
  margin: 7.5% 0 7.5% 7.5%;
  width: 42.5%;
  float: left;
  h4 {
    text-align: center;
    margin-top: 0;
  }
  form {
    overflow: auto;
  }
  input {
    float: left;
    width: 40%;
    height: 30px;
    @include form-inputs();
    border-bottom: $form-bdr;
  }
  textarea {
    width: 90%;
    @include form-inputs();
    border: $form-bdr;
  }
}

.footer-info {
  float: left;
  width: 42.5%;
  color: white;
  margin: 7.5% 7.5% 7.5% 0;
  text-align: right;
  padding-left: 2.5%;
  h4 {
    margin: 0;
  }
  p {
    font-size: 0.8rem;
  }
  a {
    display: inline-block;
    margin: 14px 0;
    padding-left: 30px;
  }
}

.social {
  margin-top: 16px;
  span {
    margin-left: 20px;
    font-size: 1.5rem;
  }
}
