@mixin backg-img-cover($imgurl) {
  background-image: url('#{$imgurl}');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@mixin container($position: null, $margin: auto, $max-width: 1200px, $height: null, $overflow: null) {
  position: $position;
  margin: $margin;
  max-width: $max-width;
  height: $height;
  overflow: $overflow;
}

@mixin form-inputs($margin: 0 5% 5% 5%, $background: none, $border: none) {
  margin: $margin;
  background: $background;
  border: $border;
}
